<!-- <div class="wrapper"> -->
  <div>
  <header>
    <div class="container">
      <div class="inner-header">
        <div class="branding">
          <a href="index.html"><img src="/assets/images/government-karnataka.png" alt="Government of Karnataka" /></a>
        </div>
        <div class="hamburger-menu">
          <span class="line line-1"></span>
          <span class="line line-2"></span>
          <span class="line line-3"></span>
        </div>
        <div class="header-left">
          <div class="navigation-menu">
            <nav>
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a class="button" routerLink="/home">Home</a></li>
                <li><a class="button" routerLink="/department">Department</a></li>
                <li><a class="button" routerLink="/admin_new">Admin</a></li>
                <li><a href="#">E-Services</a></li>
                <li><a href="#">Contact Directory</a></li>
                <li><a href="#">Helpline Numbers</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<!-- <nav>
  <a class="button" routerLink="/home">Home</a>
  <a class="button" routerLink="/department">Department</a> -->

<router-outlet></router-outlet>